<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlitzPlus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- You can add your styles and scripts here -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='provided.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
</head>

<body>
    <div id="root">
        <!-- your JavaScript should inject your main app here -->
        <!-- The below HTML will not be available in the demo environment -->
        <!-- Your app should be able to dynamically generate something like the below  -->
        <style>
            body {
              background-image: url('https://www.mobafire.com/images/champion/skins/landscape/gragas-caskbreaker.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
        <header class='banner' id="nav">
            <img src ='https://see.fontimg.com/api/renderfont4/owxMq/eyJyIjoiZnMiLCJoIjo2NiwidyI6MTAwMCwiZnMiOjY2LCJmZ2MiOiIjRTk3NDBDIiwiYmdjIjoiI0ZGRkZGRiJ9/QmxpdHogUGx1cw/lemon-milk-light.png' >
            <ul id='navbar' class='nav'>
                <li class='nav-item'>
                    <button id='homebtn' data-id-login class="button button-primary">Home</button>
                </li>
                <li class='nav-item'>
                    <button id='championbtn' data-id-login class="button button-primary">Champions</button>
                </li>
                <li class='nav-item'>
                        <button id='sumbtn' data-id-login class="button button-primary">Summoner</button>
                </li>
                <li class='nav-item'>
                    <button id='leaderbtn' data-id-login class="button button-primary">Leaderboards</button>
                </li>
                <li class='nav-item'>
                    <button id='livebtn' data-id-login class="button button-primary">Live Game</button>
                </li>
               
            </ul>
        </header>
        <main role='main'>
            <ul id="feed" data-id-feed>
                <div class="feed-header">
                    <h3 class="feed-title alt-text">Champions</h3>
                    
                </div>
                
                <li  class="post" data-id-post>
                    
                    <div id = 'content' class="content">
                    <table id = 'champlist' style="width:100%">
                        <tr>
                            <th colspan = "2"><p>Champion </th>
                            <th onclick="sortTable(2)">Winrate</th>
                            <th onclick="sortTable(3)">Pickrate</th>
                          </tr>
                    </table>   
                         
                    </div>
                    
                </li>
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <div id = 'modaltitle' style="display:inline-block;vertical-align:top;">
                        <img id = 'champimg'>
                      </div>
                      <div id = 'modaltitle' style="display:inline-block;">
                          <h1 id = 'champname'></h1>
                      </div>
                      <table id = 'champinfo' style="width:100%" >
                        <tr>
                            <th>Summoner Spells</th>
                            <th>Winrate</th>
                            <th>Pickrate</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                            <ul>
                                <li class = 'nav-item'><img id ='spell1'></li>                                   
                                <li class = 'nav-item'><img id ='spell2'></li>      
                                <td style="text-align:center" id = 'spellwr'></td>
                                <td style="text-align:center" id = 'spellpr'></td> 
                            </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Starter Items</th>
                            <th>Winrate</th>
                            <th>Pickrate</th>
                        </tr>
                        <tr>
                            <ul>
                            <td id = 'starter items' style="text-align:center">
                                <ul>
                                    <li class = 'nav-item'><img id ='start1'></li>                                   
                                    <li class = 'nav-item'><img id ='start2'></li>       
                                </ul>
                            </td>
                            <td style="text-align:center" id = 'starter itemswr'></td>
                            <td style="text-align:center" id = 'starter itemspr'></td>
                            <td id = 'core items'>
                            </ul>
                        </tr>
                        <tr>
                            <th>Core Build</th>
                            <th>Winrate</th>
                            <th>Pickrate</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                <ul>
                                    <li class = 'nav-item'><img id ='corbuild1'></li>                                   
                                    <li class = 'nav-item'><img id ='corbuild2'></li>
                                    <li class = 'nav-item'><img id ='corbuild3'></li>         
                                </ul>
                            </td>
                            <td style="text-align:center" id = 'corbldwr'></td>
                            <td style="text-align:center" id = 'corbldpr'></td>
                        </tr>
                        <tr>
                            <th>Primary Runes</th>
                            <th>Secondary Runes</th>
                            <th>Winrate</th>
                            <th>Pickrate</th>
                            
                        </tr>
                            </td>
                            <td style="text-align:center" id = 'srunes'>
                                <ul>
                                    <li class = 'nav-item'><img id ='keystone' style="width:50px;height:50px;"></li>                                   
                                    <li class = 'nav-item'><img id ='prim1'style="width:50px;height:50px;"></li>
                                    <li class = 'nav-item'><img id ='prim2' style="width:50px;height:50px;"></li>
                                    <li class = 'nav-item'><img id ='prim3' style="width:50px;height:50px;"></li>           
                                </ul>
                            </td>
                            <td style="text-align:center" id = 'prunes'>
                                <ul>
                                    <li class = 'nav-item'><img id ='sec1'style="width:50px;height:50px;"></li>                                   
                                    <li class = 'nav-item'><img id ='sec2' style="width:50px;height:50px;"></li>                     
                                </ul>
                            </td>
                            <td style="text-align:center" id = 'runepr'></td>
                            <td style="text-align:center" id = 'runewr'></td>
                          </tr>
                    </table>  
                    </div>
                  
                  </div>
                
            </ul>
        </main>
        
        
    </div> 
    
    <script type="module" src="{{ url_for('static', filename='index.js') }}" ></script>
    <script type="module" src="{{ url_for('static', filename='champion.js') }}" ></script>
    
    <script> function sortTable(col) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("champlist");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("td")[col];
            
            y = rows[i + 1].getElementsByTagName("td")[col];
            //check if the two rows should switch place:
            
            if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
                
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }</script>
    
</body>

</html>
