<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlitzPlus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- You can add your styles and scripts here -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='provided.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
</head>

<body>
    <div id="root">
        <!-- your JavaScript should inject your main app here -->
        <!-- The below HTML will not be available in the demo environment -->
        <!-- Your app should be able to dynamically generate something like the below  -->
        <style>
            body {
              background-image: url('https://www.mobafire.com/images/champion/skins/landscape/gragas-caskbreaker.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
        <header class='banner' id="nav">
            <img src ='https://see.fontimg.com/api/renderfont4/owxMq/eyJyIjoiZnMiLCJoIjo2NiwidyI6MTAwMCwiZnMiOjY2LCJmZ2MiOiIjRTk3NDBDIiwiYmdjIjoiI0ZGRkZGRiJ9/QmxpdHogUGx1cw/lemon-milk-light.png' >
            <ul id='navbar' class='nav'>
                <li class='nav-item'>
                    <button id='homebtn' data-id-login class="button button-primary">Home</button>
                </li>
                <li class='nav-item'>
                    <button id='championbtn' data-id-login class="button button-primary">Champions</button>
                </li>
                <li class='nav-item'>
                        <button id='sumbtn' data-id-login class="button button-primary">Summoner</button>
                </li>
                <li class='nav-item'>
                    <button id='leaderbtn' data-id-login class="button button-primary">Leaderboards</button>
                </li>
                <li class='nav-item'>
                    <button id='livebtn' data-id-login class="button button-primary">Live Game</button>
                </li>
               
            </ul>
        </header>
        <main role='main'>
            <ul id="feed" data-id-feed>
                <div class="feed-header">
                    <h3 class="feed-title alt-text">Summoner Page</h3>
                    
                </div>
                
                <li class="nav-item">
                    <input id="search" data-id-search placeholder="Search Summoner" type="search" />
                    <input id="search1" data-id-search placeholder="Search Summoner" type="search" />
                    
                </li>
                <li class='nav-item'>
                    <button id='searchbtn' data-id-login class="button button-primary">Search</button>
                </li>
                <li id = 'sum1' style="display:none" class="post" data-id-post >
                    
                    <div id = 'content' class="sumcontent">
                        <div class ="sumprofile">
                            <img id = 'sumimg' align="left">
                            <h2 id='summonername' data-id-title ></h2>
                            <p id = "level"></p>
                        </div>
                        <div class = "sumstats">
                            <img id = 'rankimg' align="left">
                            <p id = "queue">  </p>
                            <h3 id = "rank">  </h3>
                            <h4 id = "LPWL"> </h4>
                            <h4 id = "WR">  </h4>
                        </div>
                    </div>
                    <div style="display:none" id ='recentg'><table style="width:100%" id ='matchhist' >
                            <tr>
                                <th style="text-align:center">Champion</th>
                                <th style="text-align:center" >CS</th>
                                <th style="text-align:center">KDA</th>
                                <th style="text-align:center">WR</th>
                                <th style="text-align:center">Games Played</th>
                            </tr>
                            <tr>
                                <td >
                                    <ul>
                                        <li class = 'nav-item'><img id ='champ1'></li>                                                                               
                                    </ul>
                                </td>
                                <td style="text-align:center" id = 'cs1'></td>
                                <td style="text-align:center" id = 'kda1'></td>
                                <td style="text-align:center" id = 'wr1'></td>
                                <td style="text-align:center" id = 'pl1'></td>
                                    
                            </tr>
                            <tr>
                                <td >
                                    <ul>
                                        <li class = 'nav-item'><img id ='champ2'></li>                                                                               
                                    </ul>
                                </td>
                                <td style="text-align:center" id = 'cs2'></td>
                                <td style="text-align:center" id = 'kda2'></td>
                                <td style="text-align:center" id = 'wr2'></td>
                                <td style="text-align:center" id = 'pl2'></td>
                                    
                            </tr>
                            <tr>
                                <td >
                                    <ul>
                                        <li class = 'nav-item'><img id ='champ3'></li>                                                                               
                                    </ul>
                                </td>
                                <td style="text-align:center" id = 'cs3'></td>
                                <td style="text-align:center" id = 'kda3'></td>
                                <td style="text-align:center" id = 'wr3'></td>
                                <td style="text-align:center" id = 'pl3'></td>
                                    
                            </tr>
                            <tr>
                                <th>Recent Games</th>
                            </tr> 
                            <tr>
                                <td colspan = "5"  id = 'recent'></td>
                            </tr>
                            
                            </table>
                            <table style="width:100%" id ='pastranks'> 
                                <tr>
                                    <th>Past Ranks</th>
                                </tr>
                            </table>
                            </div>
                    
                </li>
                <li id = 'sum2' style="display:none" class="post" data-id-post > 
                    <div id = 'content1' class="sumcontent">
                        <div class ="sumprofile">
                            <img id = 'sumimg1' align="left">
                            <h2 id='summonername1' data-id-title ></h2>
                            <p id = "level1"></p>
                        </div>
                        <div class = "sumstats">
                            <img id = 'rankimg1' align="left">
                            <p id = "queue1">  </p>
                            <h3 id = "rank1">  </h3>
                            <h4 id = "LPWL1"> </h4>
                            <h4 id = "WR1">  </h4>
                        </div>
                    </div>
                    <div style="display:none" id ='recentg1'><table style="width:100%" id ='matchhist1' >
                        <tr>
                            <th style="text-align:center">Champion</th>
                            <th style="text-align:center" >CS</th>
                            <th style="text-align:center">KDA</th>
                            <th style="text-align:center">WR</th>
                            <th style="text-align:center">Games Played</th>
                        </tr>
                        <tr>
                            <td >
                                <ul>
                                    <li class = 'nav-item'><img id ='champ11'></li>                                                                               
                                </ul>
                            </td>
                            <td style="text-align:center" id = 'cs11'></td>
                            <td style="text-align:center" id = 'kda11'></td>
                            <td style="text-align:center" id = 'wr11'></td>
                            <td style="text-align:center" id = 'pl11'></td>
                                
                        </tr>
                        <tr>
                            <td >
                                <ul>
                                    <li class = 'nav-item'><img id ='champ21'></li>                                                                               
                                </ul>
                            </td>
                            <td style="text-align:center" id = 'cs21'></td>
                            <td style="text-align:center" id = 'kda21'></td>
                            <td style="text-align:center" id = 'wr21'></td>
                            <td style="text-align:center" id = 'pl21'></td>
                                
                        </tr>
                        <tr>
                            <td >
                                <ul>
                                    <li class = 'nav-item'><img id ='champ31'></li>                                                                               
                                </ul>
                            </td>
                            <td style="text-align:center" id = 'cs31'></td>
                            <td style="text-align:center" id = 'kda31'></td>
                            <td style="text-align:center" id = 'wr31'></td>
                            <td style="text-align:center" id = 'pl31'></td>
                                
                        </tr>
                        <tr>
                            <th>Recent Games</th>
                        </tr> 
                        <tr>
                            <td colspan = "5"  id = 'recent1'></td>
                        </tr>
                        
                      
                        </table>
                        <table style="width:100%" id ='pastranks1'> 
                            <tr>
                                <th>Past Ranks</th>
                            </tr>
                        </table>   </div>
                </li>

                
            </ul>
        </main>
        
        
    </div> 
    <script type="module" src="{{ url_for('static', filename='summoner.js') }}" ></script>
    <script type="module" src="{{ url_for('static', filename='index.js') }}" ></script>
</body>

</html>
