<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BlitzPlus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- You can add your styles and scripts here -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='provided.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}">
</head>

<body>
    <div id="root">
        <!-- your JavaScript should inject your main app here -->
        <!-- The below HTML will not be available in the demo environment -->
        <!-- Your app should be able to dynamically generate something like the below  -->
        <style>
            body {
              background-image: url('https://www.mobafire.com/images/champion/skins/landscape/gragas-caskbreaker.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
            </style>
        <header class='banner' id="nav">
            <h1 id="logo" class="flex-center">BlitzPlus</h1>
            <ul id='navbar" class='nav'>
                <li class='nav-item'>
                    <button id='homebtn' data-id-login class="button button-primary">Home</button>
                </li>
                <li class='nav-item'>
                    <button id='championbtn' data-id-login class="button button-primary">Champions</button>
                </li>
                <li class='nav-item'>
                        <button id='sumbtn' data-id-login class="button button-primary">Summoner</button>
                </li>
                <li class='nav-item'>
                    <button id='leaderbtn' data-id-login class="button button-primary">Leaderboards</button>
                </li>
               
            </ul>
        </header>
        <main role='main'>
            <ul id="feed" data-id-feed>
                <div class="feed-header">
                    <h3 class="feed-title alt-text">BlitzPlus</h3>
                    
                </div>
                <li class="nav-item">
                    <input id="search" data-id-search placeholder="Search Summoner" type="search" />
                </li>
                <li class='nav-item'>
                    <button id='searchbtn' data-id-login class="button button-primary">Search</button>
                </li>
                <li  class="post" data-id-post>
                    
                    <div id = 'content' class="content">
                        <h4 id='summonername' data-id-title ></h4>
                        <p id = "queue">  </p>
                        <p id = "rank">  </p>
                        
                        <p id = "WL">  </p>
                        
                    </div>
                    <div ><table style="width:100%">
                            <tr>
                                <th>Game Mode</th>
                                <th>Champion</th>
                                <th>Score</th>
                                <th>Level</th>
                            </tr>
                            <tr>
                                <td>ARAM</td>
                                <td>Jarvan IV</td>
                                <td>11/5/5	</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Normal</td>
                                <td>Ahri</td>
                                <td>5/7/7	</td>
                                <td>18</td>
                            </tr>
                            </table>   </div>
                    
                </li>
                
            </ul>
        </main>
        
        
    </div> 
    <script type="module" src="{{ url_for('static', filename='summoner.js') }}" ></script>
    <script type="module" src="{{ url_for('static', filename='index.js') }}" ></script>
</body>

</html>